body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}
.contenedor {
    width: 80%;
    margin: auto;
}
/* Estilos para la barra de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Estilo para cuando el ratón pasa por encima de un enlace del menú */
nav a:hover {
    background-color: #111;
}
header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

main {
    background-color: white;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
/* Estilos para el contenedor de la galería */
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Estilos para cada imagen dentro de la galería */
.galeria img {
    width: 45%;
    margin-bottom: 15px;
    border: 3px solid #ccc;
    padding: 5px;
}
/* --- Estilos para el Formulario --- */

form label {
    display: block;
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}